<div class="container my-5">
  <h1 class="lead">Order {{ order.name }}</h1>
  <div class="row my-5">
    <div class="col col-12 col-md-4">

    </div>
    <div class="col col-12 col-md-8">
      <div class="card card-header">
        Billing information
      </div>
      <div class="card-body">

      </div>
      <div class="card card-header">
        Shipping information
      </div>
      <div class="card-body">
        
      </div>

    </div>
  </div>
</div>